src/conf/xml-resources/web-services/TranxDetailsService/wsdl/TranxDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2014 sp1 (x64) (http://www.altova.com) -->
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   targetNamespace="http://ezlinkwebservices.com/service/TranxDetails/response" 
		   xmlns:res="http://ezlinkwebservices.com/service/TranxDetails/response"
		   elementFormDefault="qualified">
		   
		   	   <xs:element name="EZLING_WS_TRANX_DETAILS_RES_ENV">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="res:EZLING_WS_TRANX_DETAILS_RES_HEADER"/>
				<xs:element ref="res:EZLING_WS__TRANX_DETAILS_RES_BODY"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
		   <xs:element name="EZLING_WS_TRANX_DETAILS_RES_HEADER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="res:VERSION"/>
				<xs:element ref="res:SOURCETYPE"/>
				<xs:element ref="res:SOURCEID"/>
				<xs:element ref="res:DATETIME"/>
				<xs:element ref="res:IPADDRESS"/>
				<xs:element ref="res:SECURITYLEVEL"/>
				<xs:element ref="res:SIGNATURE"/>
				<xs:element ref="res:ENCRYPTIONCRYPTOGRAM"/>
				<xs:element ref="res:ACCESSCODE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="EZLING_WS__TRANX_DETAILS_RES_BODY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="res:TranxDetailsRes"/>
				<xs:element ref="res:TranxDetailsResError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="TranxDetailsRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="res:MERCHANTNO"/>
				<xs:element ref="res:MERCHANTREFNO"/>
				<xs:element ref="res:ORDERNO"/>
				<xs:element ref="res:AMOUNT"/>
				<xs:element ref="res:CURRENCYCODE"/>
				<xs:element ref="res:TRANXDATE"/>
				<xs:element ref="res:TRANXSTATUS"/>
				<xs:element ref="res:RESPONSECODE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="TranxDetailsResError">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="res:TDERRORCODE"/>
                <xs:element ref="res:TDERRORDESC"/>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	
	<xs:element name="VERSION">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		   
	<xs:element name="SOURCETYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOURCEID">
		<xs:simpleType>
			<xs:restriction base="xs:string">	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DATETIME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IPADDRESS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SECURITYLEVEL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="SIGNATURE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ENCRYPTIONCRYPTOGRAM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
        <xs:element name="ACCESSCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
		   
 
	
	
	<xs:element name="MERCHANTNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<!--xs:enumeration value="01/01/2014"/-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
	<xs:element name="MERCHANTREFNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<!--xs:enumeration value="Saving"/-->
			</xs:restriction>
		</xs:simpleType>
		
	</xs:element>
	
	<xs:element name="ORDERNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<!--xs:enumeration value="500"/-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="AMOUNT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<!--xs:enumeration value="TRANXHISTORY"/-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CURRENCYCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<!--xs:enumeration value="TRANXHISTORY"/-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TRANXDATE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<!--xs:enumeration value="TRANXHISTORY"/-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TRANXSTATUS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<!--xs:enumeration value="TRANXHISTORY"/-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RESPONSECODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<!--xs:enumeration value="TRANXHISTORY"/-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
	<xs:element name="TDERRORCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TDERRORDESC">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
</xs:schema>
