web/WEB-INF/wsdl/TranxHistoryRequestService/TranxHistoryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2014 sp1 (x64) (http://www.altova.com) -->
<xs:schema 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   targetNamespace="http://ezlinkwebservices.com/service/TranxHistory/request" 
		   xmlns:req="http://ezlinkwebservices.com/service/TranxHistory/request"
		   elementFormDefault="qualified">
		   
		   	   
		   <xs:element name="EZLING_WS_TRANX_REQ_ENV">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req:EZLING_WS_TRANX_REQ_HEADER"/>
				<xs:element ref="req:EZLING_WS_TRANX_REQ_BODY"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
		   <xs:element name="EZLING_WS_TRANX_REQ_HEADER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req:VERSION"/>
				<xs:element ref="req:SOURCETYPE"/>
				<xs:element ref="req:SOURCEID"/>
				<xs:element ref="req:DATETIME"/>
				<xs:element ref="req:IPADDRESS"/>
				<xs:element ref="req:SECURITYLEVEL"/>
				<xs:element ref="req:SIGNATURE"/>
				<xs:element ref="req:ENCRYPTIONCRYPTOGRAM"/>
				<xs:element ref="req:ACCESSCODE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="EZLING_WS_TRANX_REQ_BODY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req:TranxHistoryReq"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="TranxHistoryReq">
		<xs:complexType>
			<xs:sequence>
                
				<xs:element ref="req:CARDNO"/>
				
				<xs:element ref="req:REQUIREDNOOFREC"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
		<xs:element name="VERSION">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		   
	<xs:element name="SOURCETYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOURCEID">
		<xs:simpleType>
			<xs:restriction base="xs:string">	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DATETIME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IPADDRESS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SECURITYLEVEL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="SIGNATURE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ENCRYPTIONCRYPTOGRAM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
        <xs:element name="ACCESSCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>	   
		   
	
	
	
	<xs:element name="CARDNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<!--xs:enumeration value="S12345678901"/-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="REQUIREDNOOFREC">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
</xs:schema>
