web/WEB-INF/wsdl/RecieptRequestService/RecieptRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2014 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   targetNamespace="http://ezlinkwebservices.com/service/Reciept/request" 
		   xmlns:req="http://ezlinkwebservices.com/service/Reciept/request"
		   elementFormDefault="qualified">
		   
		   <xs:element name="EZLING_WS_REQ_ENV">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req:EZLING_WS_HEADER"/>
				<xs:element ref="req:EZLING_WS_REQ_BODY"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		   
		   <xs:element name="EZLING_WS_HEADER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req:VERSION"/>
				<xs:element ref="req:SOURCETYPE"/>
				<xs:element ref="req:SOURCEID"/>
				<xs:element ref="req:DATETIME"/>
				<xs:element ref="req:IPADDRESS"/>
				<xs:element ref="req:SECURITYLEVEL"/>
				<xs:element ref="req:SIGNATURE"/>
				<xs:element ref="req:ENCRYPTIONCRYPTOGRAM"/>
				<xs:element ref="req:ACCESSCODE"/>
				<xs:element ref="req:STATUS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="EZLING_WS_REQ_BODY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req:RecieptReq"/>
				<xs:element ref="req:RecieptReqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="RecieptReq">
		<xs:complexType>
			<xs:sequence>
                                <xs:element ref="req:MERCHANTNO"/>
				<xs:element ref="req:ORDERNO"/>
                                <xs:element ref="req:MERCHANTREFNO"/>
				<xs:element ref="req:CAN"/>
                                <xs:element ref="req:AMOUNT"/>
				<xs:element ref="req:RECIEPTDATA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RecieptReqError">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req:REERRORCODE"/>
                <xs:element ref="req:REERRORDESC"/>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="VERSION">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		   
	<xs:element name="SOURCETYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOURCEID">
		<xs:simpleType>
			<xs:restriction base="xs:string">	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DATETIME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IPADDRESS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SECURITYLEVEL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="SIGNATURE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ENCRYPTIONCRYPTOGRAM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
        <xs:element name="ACCESSCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="STATUS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
        <xs:element name="MERCHANTNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ORDERNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MERCHANTREFNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CAN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
        <xs:element name="AMOUNT">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RECIEPTDATA">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="REERRORCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="REERRORDESC">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
</xs:schema>
