src/conf/xml-resources/web-services/DebitCommandRequestService/wsdl/DebitCommandRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2014 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   targetNamespace="http://ezlinkwebservices.com/service/DebitCommand/request" 
		   xmlns:req="http://ezlinkwebservices.com/service/DebitCommand/request"
		   elementFormDefault="qualified">
		   
		   <xs:element name="EZLING_WS_REQ_ENV">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req:EZLING_WS_HEADER"/>
				<xs:element ref="req:EZLING_WS_REQ_BODY"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		   
		   <xs:element name="EZLING_WS_HEADER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req:VERSION"/>
				<xs:element ref="req:SOURCETYPE"/>
				<xs:element ref="req:SOURCEID"/>
				<xs:element ref="req:DATETIME"/>
				<xs:element ref="req:IPADDRESS"/>
				<xs:element ref="req:SECURITYLEVEL"/>
				<xs:element ref="req:SIGNATURE"/>
				<xs:element ref="req:ENCRYPTIONCRYPTOGRAM"/>
				<xs:element ref="req:ACCESSCODE"/>
				<xs:element ref="req:STATUS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="EZLING_WS_REQ_BODY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req:DebitCommandReq"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="DebitCommandReq">
		<xs:complexType>
			<xs:sequence>
                <xs:element ref="req:MERCHANTNO"/>
				<xs:element ref="req:ORDERNO"/>
                <xs:element ref="req:MERCHANTREFNO"/>
				<xs:element ref="req:AMOUNT"/>
				<xs:element ref="req:CURRENCY"/>
				<xs:element ref="req:TERMINALRANDOMNO"/>
				<xs:element ref="req:CARDRANDOMNO"/>
				<xs:element ref="req:CAN"/>
				<xs:element ref="req:CARDSNO"/>
				<xs:element ref="req:PURSEDATA"/>
				<xs:element ref="req:RETRYCNT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="VERSION">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		   
	<xs:element name="SOURCETYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOURCEID">
		<xs:simpleType>
			<xs:restriction base="xs:string">	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DATETIME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IPADDRESS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SECURITYLEVEL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="SIGNATURE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ENCRYPTIONCRYPTOGRAM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
        <xs:element name="ACCESSCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="STATUS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
        <xs:element name="MERCHANTNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ORDERNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MERCHANTREFNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AMOUNT">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CURRENCY">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TERMINALRANDOMNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CARDRANDOMNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CAN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CARDSNO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PURSEDATA">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RETRYCNT">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
</xs:schema>
